<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Forms
    </title>
    <body>
        <h1>
            Create a Form
        </h1>
        <Form action="/submit" method="post">
            <p>
                Name:
                <input type="text" name="name">
            </p>
            <p>
                Age:
                <input type="number" name="age">
            </p>
            <button type="submit">Submit</button>
        </Form>
    </body>
</head>
</html>